./backend/node_modules
./frontend/node_modules
./backend/.env
./frontend/.env
./backend/supabase/config.toml
./frontend/supabase/config.toml
./backend/supabase/migrations
./frontend/supabase/migrations
./backend/supabase/storage
./frontend/supabase/storage
./backend/supabase/storage
./frontend/supabase/storage